body {
    margin: auto;
    display: block;
}

div.tooltip {
    position: absolute;
    text-align: left;
    width: 100px;
    height: 100px;
    padding: 2px;
    font-size: 12px;
    background: lightcyan;
    

}